<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
	<section style="text-align: center; height: 70%; margin-top: 15%; margin-bottom: 15%">
		<h1>Employees Manager API</h1>
	    <ul style="display: inline-block;">
	        <li><a href="#">Swagger</a></li>
	        <li><a href="#">Docs</a></li>
	        <li><a href="{% url 'admin:index' %}">Administration</a></li>
	    </ul>
	    <p>by <a class="link" href="https://github.com/joekakone" target="_blank">Joseph Konka</a> for Demo</p>
	</section>
</body>
</html>